@font-face {
    font-family: Satan;
    src: url("Fontes/WhoasksSatan.woff");    
}

@font-face {
    font-family: Ancient;
    src: url("Fontes/AncientGeek.woff");    
}

@font-face {
    font-family: Lord;
    src: url("Fontes/Lordish.woff");    
}

@font-face {
    font-family: Salkiy;
    src: url("Fontes/BrightSalkiy.woff");    
}

@font-face {
    font-family: Fantastic;
    src: url("Fontes/Fantastic.woff");    
}

@font-face {
    font-family: King;
    src: url("Fontes/KingLionel.woff");    
}

@font-face {
    font-family: Sans;
    src: url("Fontes/KioskSans.woff");    
}

@font-face {
    font-family: Magelove;
    src: url("Fontes/Magelove.woff");    
}

@font-face {
    font-family: Quefira;
    src: url("Fontes/Quefira.woff");    
}

@font-face {
    font-family: SalmonW;
    src: url("Fontes/SalmonWhite.woff");    
}

@font-face {
    font-family: Mama;
    src: url("Fontes/mama.woff");
}