@font-face {
    font-family: Satan;
    src: url("WhoasksSatan.woff");    
}

@font-face {
    font-family: Ancient;
    src: url("AncientGeek.woff");    
}

@font-face {
    font-family: Lord;
    src: url("Lordish.woff");    
}

@font-face {
    font-family: Salkiy;
    src: url("BrightSalkiy.woff");    
}

@font-face {
    font-family: Fantastic;
    src: url("Fantastic.woff");    
}

@font-face {
    font-family: King;
    src: url("KingLionel.woff");    
}

@font-face {
    font-family: Sans;
    src: url("KioskSans.woff");    
}

@font-face {
    font-family: Magelove;
    src: url("Magelove.woff");    
}

@font-face {
    font-family: Quefira;
    src: url("Quefira.woff");    
}

@font-face {
    font-family: SalmonW;
    src: url("SalmonWhite.woff");    
}

@font-face {
    font-family: Mama;
    src: url("mama.woff");
}